manifest {
    name            = 'hoso-jpn/adzuki-snp-pipeline'
    author          = 'Yusuke Hosokawa'
    homePage        = 'https://github.com/hoso-jpn/adzuki-snp-pipeline'
    description     = 'Reproducible adzuki bean SNP-calling pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '>=26.04.0'
    version         = '0.2.0-dev'
}

plugins {
    id 'nf-schema@2.8.0'
}

params {
    input               = null
    outdir              = 'results'
    reference_id        = null
    reference_name      = null
    reference_fasta     = null
    reference_accession = ''
    reference_species   = ''
    reference_cultivar  = ''
    reference_fai       = null
    reference_dict      = null
    bwa_index_prefix    = null
}

process.executor = 'local'

process {
    errorStrategy = {
        task.exitStatus in [137, 140, 143]
            ? 'retry'
            : 'terminate'
    }
    maxRetries = 1

    withLabel: process_low {
        cpus   = 2
        memory = '4 GB'
        time   = '2h'
    }

    withLabel: process_medium {
        cpus   = 4
        memory = '8 GB'
        time   = '8h'
    }

    withLabel: process_high {
        cpus   = 8
        memory = '16 GB'
        time   = '24h'
    }

    withName: FASTQC_RAW {
        publishDir = [
            path   : "${params.outdir}/qc/fastqc/raw",
            mode   : 'copy',
            pattern: '*_fastqc.{html,zip}'
        ]
    }

    withName: FASTQC_TRIMMED {
        publishDir = [
            path   : "${params.outdir}/qc/fastqc/trimmed",
            mode   : 'copy',
            pattern: '*_fastqc.{html,zip}'
        ]
    }
}

validation {
    help {
        enabled = true
    }
    logging {
        unrecognisedParams  = 'error'
        unrecognisedHeaders = 'error'
    }
}

profiles {
    docker {
        docker.enabled = true
    }

    docker_amd64 {
        docker.enabled = true
        docker.runOptions = '--platform linux/amd64'
    }

    test {
        includeConfig 'conf/test.config'
    }
}
